<div class="panel panel-info">
  <div class="panel-heading">
    Created <%= time_ago_in_words task.created_at %> ago
    <div class="row pull-right">
      <div class="col-md-6">
        <%= link_to fa_icon('pencil') , edit_task_path(task) %>
      </div>
      <div class="col-md-6">
        <%= link_to fa_icon('trash'), task, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    </div>
  <div class="panel-body">
    <%= simple_format auto_link task.content, html: { target: '_blank' } %>
  </div>
  <div class="panel-footer text-center btn-group btn-group-justified">
    <%= render 'status_links', task: task %>
  </div>
</div>
