<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>

<div class="row">
  <div class="col-md-4">
    <h2 class="text-center">To Do</h2>
    <%= render @todo_tasks %>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Doing</h2>
    <%= render @doing_tasks %>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">Done</h2>
    <%= render @done_tasks %>
  </div>
</div>
