<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %>

<h2>Todo</h2>
<%= render 'tasks', tasks: @todo_tasks%>
<br/>

<h2>Doing</h2>
<%= render 'tasks', tasks: @doing_tasks%>
<br/>

<h2>Done</h2>
<%= render 'tasks', tasks: @done_tasks%>
<br/>
